*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root
{
    --navBG-color: #FFFFFF;
    --bg-color: #F4F7FD;

    --main-color: #008DFF;
    --text-color: #000000;

    --icon-size: 25px;
}

body
{
    background-color: var(--bg-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "slnt" 0;
    font-style: normal;
    font-weight: weight;
}

nav
{
    width: 100%;
    background: var(--navBG-color);
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 21px 33px 12px rgba(154, 162, 169, 0.35);
    -moz-box-shadow: 0px 21px 33px 12px rgba(154, 162, 169, 0.35);
    box-shadow: 0px 21px 33px 12px rgba(154, 162, 169, 0.35);
    position: relative;
}

.navbar,.container
{
    width: 70%;
}
hr
{
    position: absolute;
    width: 100%;
    left: 0;
    background: #8a8787;
}
.navbar__top-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.navbar__top-logo img
{
    width: 150px;
}

.navbar__top-collection button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    border: none;
    border-radius: 7px;
    height: 35px;
    background: var(--main-color);
    color: #FFFFFF;
    cursor: pointer;
}

.navbar__top-collection button i, button p
{
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 5px;
}
.navbar__top-searching form
{
    display: flex;
}
.navbar__top-searching input
{
    width: 330px;
    height: 35px;
    border-radius: 7px 0 0 7px;
    border: 2px solid var(--main-color);
    padding: 0 5px;
    outline: none;
}

.navbar__top-searching a button
{
    width: 100px;
    height: 35px;
    border-radius: 0 7px 7px 0;
    background: var(--main-color);
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

#navbar__icons-style a
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar__icons-style a i
{
    color: #000;
    font-size: var(--icon-size);
}

#navbar__icons-style a p
{
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
}

.navbar__top-shopping-cart, .navbar__top-favourites
{
    position: relative;
}

.counter
{
    background: var(--main-color);
    color: #FFFFFF;
    position: absolute;
    bottom: 70%;
    right: -20%;
    font-size: 14px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.favourite__counter
{
    background: var(--main-color);
    color: #FFFFFF;
    position: absolute;
    bottom: 70%;
    right: 20%;
    font-size: 14px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}



.navbar__bottom-section
{
    padding: 20px 0;
}
.navbar__bottom-top_products
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__bottom-top_products a
{
    color: var(--text-color);
    font-size: 18px;
}